.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-width: 45%;
  max-width: 100%;
  border-radius: 7px;
  background-color: rgb(238, 230, 230);
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.text_p {
  margin-top: 40px;
  text-align: center;
}

.text_p a {
  color: #1976d2;
}

.text_p a:hover {
  text-decoration: underline;
}
